# SwiftFormat 設定
--swiftversion 5.9

--indent 4
--maxwidth 140
--wraparguments before-first
--wrapparameters before-first
--wrapcollections before-first
--commas inline
--trimwhitespace always
--stripunusedargs closure-only
--self remove
--importgrouping testable-bottom
--header strip

--exclude build,DerivedData,.build,Pods,TodoApp.xcodeproj
